body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 768px) {
  body {
    background: url(https://knightmint.netlify.app/static/media/piggy.bb92ba35657b40f66592.jpg)
      no-repeat center center fixed;
    background-size: cover;
  }
}

.container-parent {
  height: 550px;
  /* width: 90%; */
  padding: 40px;
}

.header {
  height: 70px;
  background-color: black;
  position: fixed;
  width: 100%;
}

.cursor {
  cursor: pointer;
}

.headerList {
  list-style-type: none;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.25rem;
  margin: 0;
  padding: 0;
}

.font-2x1 {
  font-size: 1.5rem;
  line-height: 2rem;
}
.font-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.font-bold {
  font-weight: 700;
}
.font-extrabold {
  font-weight: 800;
}

.instagram {
  width: 32px;
  width: 32px;
}

.container {
  min-height: 95vh;
}

.child2 {
  background-color: rgb(82 82 82);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.ethControl {
  width: 170px;
  background-color: white;
}

.ethControl2 {
  position: relative;
  top: -5px;
}

img.imgGif {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  /* width: 100%; */
}

@media screen and (max-width: 768px) {
  body {
    background-color: black;
  }
  .child1 {
    text-align: center;
    padding-bottom: 10px;
  }

  img.imgGif {
    border-radius: 15px;
  }

  .container-parent {
    height: 550px;
    /* width: 90%; */
    padding-right: 10px;
  }
  .child2 {
    border-radius: 15px;
  }

  li {
    display: none;
  }
}
